$MI_color_primary: rgba(230, 168, 86, 0.9);
$MI_color_primary_hover: rgba(184, 134, 69, 0.9);
$MI_color_secondary: white;
$MI_color_secondary_hover: #ccc;
$color_gradient: rgba(47, 23, 15, 0.65);
$color_gradient_header: #3cecabad;
$color_gradient_header_second: #ee72e1ad;

/*Medidas*/
$min_height: 500px;
$general_height: 200px;

