$MI_color_primary: #e6a756;
$MI_color_primary_hover: #b88645;
$MI_color_secondary: white;
$MI_color_secondary_hover: #ccc;
$color_gradient: rgba(47, 23, 15, 0.65);
$color_gradient_header: #3cecabad;
$color_gradient_header_second: #ee72e1ad;

/*Medidas*/
$min_height: 500px;
$general_height: 200px;

