/*Colors*/
/*Medidas*/
/*MIXINS*/
/*PEN STYLES*/
/*Responsive*/
@media only screen and (max-width: 1440px) {
  .contain__cards {
    width: 18rem !important;
  }
}

@media only screen and (max-width: 1280px) {
  * footer .logoRedes, html footer .logoRedes {
    justify-content: space-evenly;
    width: 80%;
  }
}

@media only screen and (max-width: 1210px) {
  * body .contain__main, * body .help_section__item, * html body .help_section__item, html * body .help_section__item, html body .contain__main, html body .help_section__item {
    margin-bottom: 50px;
    width: 90% !important;
  }
}

@media only screen and (max-width: 1024px) {
  * body .contain__products, html body .contain__products {
    width: 70% !important;
  }
}

@media only screen and (max-width: 962px) {
  * .contain, * body .contact_section, * html body .contact_section, html body * .contact_section, html .contain, * body html .contact_section, html body .contact_section {
    width: 90% !important;
  }
}

@media only screen and (max-width: 962px) {
  .contact_section__item--bg {
    width: 90% !important;
  }
}

@media only screen and (max-width: 767px) {
  .contain__cards {
    max-width: 700px;
  }
  .contain__cards--img_heigth {
    max-width: 100%;
    height: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  * body .header, html body .header {
    width: 100%;
  }
  * body #grid-content, html body #grid-content {
    grid-template-rows: .7fr .7fr;
  }
  * body .content--contact, html body .content--contact {
    margin: 10rem 0 10rem 0;
  }
  * body .main-section__card, html body .main-section__card {
    width: 60% !important;
  }
  * body .contact_section__item, html body .contact_section__item {
    justify-content: flex-start;
  }
  * body .contact_section__item--bg, html body .contact_section__item--bg {
    width: 85vw !important;
  }
  * body main .slider img, html body main .slider img {
    width: 100%;
  }
  * body main .cards, html body main .cards {
    flex-flow: column wrap;
  }
  * body #not-found-404 .not-found__text .btn, html body #not-found-404 .not-found__text .btn {
    width: 100%;
  }
  * body #not-found-404 img, html body #not-found-404 img {
    width: 100%;
  }
  * body .contain__products, html body .contain__products {
    width: 100% !important;
  }
}

@media (min-width: 640px) {
  .meta {
    flex-basis: 40%;
    height: auto;
  }
  .description {
    flex-basis: 60%;
  }
  .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .alt {
    flex-direction: row-reverse;
  }
  .alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .alt .details {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 560px) {
  * .header__items, html .header__items {
    display: none;
  }
  * #grid-content, html #grid-content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    align-items: center;
  }
  * .work-section__item, html .work-section__item {
    width: 100% !important;
  }
  .btn {
    width: 60%;
  }
}

@media only screen and (max-width: 425px) {
  * body .main-section__card, html body .main-section__card {
    width: 80% !important;
  }
  * body .presentation-section__title--text_Primary, html body .presentation-section__title--text_Primary {
    text-align: center;
  }
  * body .btn, html body .btn {
    width: 40% !important;
  }
  * body .contain__main, * body .help_section__item, * html body .help_section__item, html * body .help_section__item, html body .contain__main, html body .help_section__item {
    margin: 0;
    min-height: 600px;
  }
  * body .contain .content-cards, * body .contact_section .content-cards, html body .contain .content-cards, html body .contact_section .content-cards {
    align-items: center;
  }
  * body .contain .slider img, * body .contact_section .slider img, html body .contain .slider img, html body .contact_section .slider img {
    height: 330px;
  }
  * body .contain__products, html body .contain__products {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  * body .contain__products .btn, html body .contain__products .btn {
    width: 43% !important;
  }
  * body .text, html body .text {
    margin: 0;
  }
  * body .help_section__item, html body .help_section__item {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80% !important;
  }
  * body .contain, * body .contact_section, * html body .contact_section, html * body .contact_section, html body .contain, html body .contact_section {
    width: 100%;
    margin: 0;
  }
  * body .contact_section__item--bg, html body .contact_section__item--bg {
    width: 100% !important;
  }
  * body .contact_section__item--bg .shop-iframe, html body .contact_section__item--bg .shop-iframe {
    flex-direction: column;
  }
  * body .contact_section__item--bg .shop-iframe iframe, html body .contact_section__item--bg .shop-iframe iframe {
    width: 250px !important;
    height: 180px !important;
  }
  * body footer .footer-section, html body footer .footer-section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 639px) {
  * body .blog-card, html body .blog-card {
    width: 80%;
  }
}

@media only screen and (max-width: 375px) {
  * body .blog-card, html body .blog-card {
    width: 85%;
  }
}

@media only screen and (max-width: 320px) {
  * body .blog-card, html body .blog-card {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  * body .grid-products, html body .grid-products {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 640px) {
  * body .blog-card, html body .blog-card {
    flex-direction: row;
    max-width: 90%;
    min-height: 325px;
  }
  * body .blog-card .meta, html body .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  * body .blog-card .description, html body .blog-card .description {
    flex-basis: 60%;
  }
  * body .blog-card .description:before, html body .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #b88645;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  * body .blog-card.alt, html body .blog-card.alt {
    flex-direction: row-reverse;
  }
  * body .blog-card.alt .description:before, html body .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  * body .blog-card.alt .details, html body .blog-card.alt .details {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 375px) {
  * body .publ-section .publ-section__align .publ-section__align--text, html body .publ-section .publ-section__align .publ-section__align--text {
    letter-spacing: 0.1rem;
    word-spacing: 0rem;
  }
  * body .contact_section__item--bg .shop-iframe iframe, html body .contact_section__item--bg .shop-iframe iframe {
    width: 210px !important;
    height: 135px !important;
  }
}

@media only screen and (max-width: 320px) {
  * body .main-section__card, html body .main-section__card {
    width: 95% !important;
  }
  * body .btn, html body .btn {
    width: 45% !important;
  }
  * body .contain__main, * body .help_section__item, * html body .help_section__item, html * body .help_section__item, html body .contain__main, html body .help_section__item {
    width: 100% !important;
  }
  * body .contain__main--help, html body .contain__main--help {
    width: 100% !important;
    height: 600px !important;
  }
  * body .contact_section__item--bg .shop-iframe iframe, html body .contact_section__item--bg .shop-iframe iframe {
    width: 150px !important;
    height: 150px !important;
  }
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.bg-dark {
  background-color: rgba(34, 38, 42, 0.9) !important;
}

/*Colors*/
/*Medidas*/
/*MIXINS*/
/*PEN STYLES*/
/*Responsive*/
@media only screen and (max-width: 1440px) {
  .contain__cards {
    width: 18rem !important;
  }
}

@media only screen and (max-width: 1280px) {
  * footer .logoRedes, html footer .logoRedes {
    justify-content: space-evenly;
    width: 80%;
  }
}

@media only screen and (max-width: 1210px) {
  * body .contain__main, * body .help_section__item, * html body .help_section__item, html * body .help_section__item, html body .contain__main, html body .help_section__item {
    margin-bottom: 50px;
    width: 90% !important;
  }
}

@media only screen and (max-width: 1024px) {
  * body .contain__products, html body .contain__products {
    width: 70% !important;
  }
}

@media only screen and (max-width: 962px) {
  * .contain, * body .contact_section, * html body .contact_section, html body * .contact_section, html .contain, * body html .contact_section, html body .contact_section {
    width: 90% !important;
  }
}

@media only screen and (max-width: 962px) {
  .contact_section__item--bg {
    width: 90% !important;
  }
}

@media only screen and (max-width: 767px) {
  .contain__cards {
    max-width: 700px;
  }
  .contain__cards--img_heigth {
    max-width: 100%;
    height: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  * body .header, html body .header {
    width: 100%;
  }
  * body #grid-content, html body #grid-content {
    grid-template-rows: .7fr .7fr;
  }
  * body .content--contact, html body .content--contact {
    margin: 10rem 0 10rem 0;
  }
  * body .main-section__card, html body .main-section__card {
    width: 60% !important;
  }
  * body .contact_section__item, html body .contact_section__item {
    justify-content: flex-start;
  }
  * body .contact_section__item--bg, html body .contact_section__item--bg {
    width: 85vw !important;
  }
  * body main .slider img, html body main .slider img {
    width: 100%;
  }
  * body main .cards, html body main .cards {
    flex-flow: column wrap;
  }
  * body #not-found-404 .not-found__text .btn, html body #not-found-404 .not-found__text .btn {
    width: 100%;
  }
  * body #not-found-404 img, html body #not-found-404 img {
    width: 100%;
  }
  * body .contain__products, html body .contain__products {
    width: 100% !important;
  }
}

@media (min-width: 640px) {
  .meta {
    flex-basis: 40%;
    height: auto;
  }
  .description {
    flex-basis: 60%;
  }
  .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .alt {
    flex-direction: row-reverse;
  }
  .alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .alt .details {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 560px) {
  * .header__items, html .header__items {
    display: none;
  }
  * #grid-content, html #grid-content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    align-items: center;
  }
  * .work-section__item, html .work-section__item {
    width: 100% !important;
  }
  .btn {
    width: 60%;
  }
}

@media only screen and (max-width: 425px) {
  * body .main-section__card, html body .main-section__card {
    width: 80% !important;
  }
  * body .presentation-section__title--text_Primary, html body .presentation-section__title--text_Primary {
    text-align: center;
  }
  * body .btn, html body .btn {
    width: 40% !important;
  }
  * body .contain__main, * body .help_section__item, * html body .help_section__item, html * body .help_section__item, html body .contain__main, html body .help_section__item {
    margin: 0;
    min-height: 600px;
  }
  * body .contain .content-cards, * body .contact_section .content-cards, html body .contain .content-cards, html body .contact_section .content-cards {
    align-items: center;
  }
  * body .contain .slider img, * body .contact_section .slider img, html body .contain .slider img, html body .contact_section .slider img {
    height: 330px;
  }
  * body .contain__products, html body .contain__products {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  * body .contain__products .btn, html body .contain__products .btn {
    width: 43% !important;
  }
  * body .text, html body .text {
    margin: 0;
  }
  * body .help_section__item, html body .help_section__item {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80% !important;
  }
  * body .contain, * body .contact_section, * html body .contact_section, html * body .contact_section, html body .contain, html body .contact_section {
    width: 100%;
    margin: 0;
  }
  * body .contact_section__item--bg, html body .contact_section__item--bg {
    width: 100% !important;
  }
  * body .contact_section__item--bg .shop-iframe, html body .contact_section__item--bg .shop-iframe {
    flex-direction: column;
  }
  * body .contact_section__item--bg .shop-iframe iframe, html body .contact_section__item--bg .shop-iframe iframe {
    width: 250px !important;
    height: 180px !important;
  }
  * body footer .footer-section, html body footer .footer-section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 639px) {
  * body .blog-card, html body .blog-card {
    width: 80%;
  }
}

@media only screen and (max-width: 375px) {
  * body .blog-card, html body .blog-card {
    width: 85%;
  }
}

@media only screen and (max-width: 320px) {
  * body .blog-card, html body .blog-card {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  * body .grid-products, html body .grid-products {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 640px) {
  * body .blog-card, html body .blog-card {
    flex-direction: row;
    max-width: 90%;
    min-height: 325px;
  }
  * body .blog-card .meta, html body .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  * body .blog-card .description, html body .blog-card .description {
    flex-basis: 60%;
  }
  * body .blog-card .description:before, html body .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #b88645;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  * body .blog-card.alt, html body .blog-card.alt {
    flex-direction: row-reverse;
  }
  * body .blog-card.alt .description:before, html body .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  * body .blog-card.alt .details, html body .blog-card.alt .details {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 375px) {
  * body .publ-section .publ-section__align .publ-section__align--text, html body .publ-section .publ-section__align .publ-section__align--text {
    letter-spacing: 0.1rem;
    word-spacing: 0rem;
  }
  * body .contact_section__item--bg .shop-iframe iframe, html body .contact_section__item--bg .shop-iframe iframe {
    width: 210px !important;
    height: 135px !important;
  }
}

@media only screen and (max-width: 320px) {
  * body .main-section__card, html body .main-section__card {
    width: 95% !important;
  }
  * body .btn, html body .btn {
    width: 45% !important;
  }
  * body .contain__main, * body .help_section__item, * html body .help_section__item, html * body .help_section__item, html body .contain__main, html body .help_section__item {
    width: 100% !important;
  }
  * body .contain__main--help, html body .contain__main--help {
    width: 100% !important;
    height: 600px !important;
  }
  * body .contact_section__item--bg .shop-iframe iframe, html body .contact_section__item--bg .shop-iframe iframe {
    width: 150px !important;
    height: 150px !important;
  }
}

/* Estilos footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 251px;
  background-color: rgba(34, 38, 42, 0.9);
  margin-top: 4rem;
}

footer .footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

footer .footer-section__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
}

footer .footer-section__contact--redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

footer .footer-section__contact--redes img {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}

footer .footer-section__contact--redes img:hover {
  transition: 300ms all;
  transform: scale(1.2, 1.2);
}

footer .footer-section__contact--form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
}

footer .footer-section__contact--form .btn {
  width: 100% !important;
}

footer p {
  font-weight: bold;
  color: #ccc;
}

/*Colors*/
/*Medidas*/
/*MIXINS*/
/*PEN STYLES*/
/*Responsive*/
@media only screen and (max-width: 1440px) {
  .contain__cards {
    width: 18rem !important;
  }
}

@media only screen and (max-width: 1280px) {
  * footer .logoRedes, html footer .logoRedes {
    justify-content: space-evenly;
    width: 80%;
  }
}

@media only screen and (max-width: 1210px) {
  * body .contain__main, * body .help_section__item, * html body .help_section__item, html * body .help_section__item, html body .contain__main, html body .help_section__item {
    margin-bottom: 50px;
    width: 90% !important;
  }
}

@media only screen and (max-width: 1024px) {
  * body .contain__products, html body .contain__products {
    width: 70% !important;
  }
}

@media only screen and (max-width: 962px) {
  * .contain, * body .contact_section, * html body .contact_section, html body * .contact_section, html .contain, * body html .contact_section, html body .contact_section {
    width: 90% !important;
  }
}

@media only screen and (max-width: 962px) {
  .contact_section__item--bg {
    width: 90% !important;
  }
}

@media only screen and (max-width: 767px) {
  .contain__cards {
    max-width: 700px;
  }
  .contain__cards--img_heigth {
    max-width: 100%;
    height: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  * body .header, html body .header {
    width: 100%;
  }
  * body #grid-content, html body #grid-content {
    grid-template-rows: .7fr .7fr;
  }
  * body .content--contact, html body .content--contact {
    margin: 10rem 0 10rem 0;
  }
  * body .main-section__card, html body .main-section__card {
    width: 60% !important;
  }
  * body .contact_section__item, html body .contact_section__item {
    justify-content: flex-start;
  }
  * body .contact_section__item--bg, html body .contact_section__item--bg {
    width: 85vw !important;
  }
  * body main .slider img, html body main .slider img {
    width: 100%;
  }
  * body main .cards, html body main .cards {
    flex-flow: column wrap;
  }
  * body #not-found-404 .not-found__text .btn, html body #not-found-404 .not-found__text .btn {
    width: 100%;
  }
  * body #not-found-404 img, html body #not-found-404 img {
    width: 100%;
  }
  * body .contain__products, html body .contain__products {
    width: 100% !important;
  }
}

@media (min-width: 640px) {
  .meta {
    flex-basis: 40%;
    height: auto;
  }
  .description {
    flex-basis: 60%;
  }
  .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .alt {
    flex-direction: row-reverse;
  }
  .alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .alt .details {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 560px) {
  * .header__items, html .header__items {
    display: none;
  }
  * #grid-content, html #grid-content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    align-items: center;
  }
  * .work-section__item, html .work-section__item {
    width: 100% !important;
  }
  .btn {
    width: 60%;
  }
}

@media only screen and (max-width: 425px) {
  * body .main-section__card, html body .main-section__card {
    width: 80% !important;
  }
  * body .presentation-section__title--text_Primary, html body .presentation-section__title--text_Primary {
    text-align: center;
  }
  * body .btn, html body .btn {
    width: 40% !important;
  }
  * body .contain__main, * body .help_section__item, * html body .help_section__item, html * body .help_section__item, html body .contain__main, html body .help_section__item {
    margin: 0;
    min-height: 600px;
  }
  * body .contain .content-cards, * body .contact_section .content-cards, html body .contain .content-cards, html body .contact_section .content-cards {
    align-items: center;
  }
  * body .contain .slider img, * body .contact_section .slider img, html body .contain .slider img, html body .contact_section .slider img {
    height: 330px;
  }
  * body .contain__products, html body .contain__products {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  * body .contain__products .btn, html body .contain__products .btn {
    width: 43% !important;
  }
  * body .text, html body .text {
    margin: 0;
  }
  * body .help_section__item, html body .help_section__item {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80% !important;
  }
  * body .contain, * body .contact_section, * html body .contact_section, html * body .contact_section, html body .contain, html body .contact_section {
    width: 100%;
    margin: 0;
  }
  * body .contact_section__item--bg, html body .contact_section__item--bg {
    width: 100% !important;
  }
  * body .contact_section__item--bg .shop-iframe, html body .contact_section__item--bg .shop-iframe {
    flex-direction: column;
  }
  * body .contact_section__item--bg .shop-iframe iframe, html body .contact_section__item--bg .shop-iframe iframe {
    width: 250px !important;
    height: 180px !important;
  }
  * body footer .footer-section, html body footer .footer-section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 639px) {
  * body .blog-card, html body .blog-card {
    width: 80%;
  }
}

@media only screen and (max-width: 375px) {
  * body .blog-card, html body .blog-card {
    width: 85%;
  }
}

@media only screen and (max-width: 320px) {
  * body .blog-card, html body .blog-card {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  * body .grid-products, html body .grid-products {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 640px) {
  * body .blog-card, html body .blog-card {
    flex-direction: row;
    max-width: 90%;
    min-height: 325px;
  }
  * body .blog-card .meta, html body .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  * body .blog-card .description, html body .blog-card .description {
    flex-basis: 60%;
  }
  * body .blog-card .description:before, html body .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #b88645;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  * body .blog-card.alt, html body .blog-card.alt {
    flex-direction: row-reverse;
  }
  * body .blog-card.alt .description:before, html body .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  * body .blog-card.alt .details, html body .blog-card.alt .details {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 375px) {
  * body .publ-section .publ-section__align .publ-section__align--text, html body .publ-section .publ-section__align .publ-section__align--text {
    letter-spacing: 0.1rem;
    word-spacing: 0rem;
  }
  * body .contact_section__item--bg .shop-iframe iframe, html body .contact_section__item--bg .shop-iframe iframe {
    width: 210px !important;
    height: 135px !important;
  }
}

@media only screen and (max-width: 320px) {
  * body .main-section__card, html body .main-section__card {
    width: 95% !important;
  }
  * body .btn, html body .btn {
    width: 45% !important;
  }
  * body .contain__main, * body .help_section__item, * html body .help_section__item, html * body .help_section__item, html body .contain__main, html body .help_section__item {
    width: 100% !important;
  }
  * body .contain__main--help, html body .contain__main--help {
    width: 100% !important;
    height: 600px !important;
  }
  * body .contact_section__item--bg .shop-iframe iframe, html body .contact_section__item--bg .shop-iframe iframe {
    width: 150px !important;
    height: 150px !important;
  }
}

*, html {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

* body, html body {
  background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url(../img/bg2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.6;
  /*Not found page*/
  /* Clases e IDs de los main*/
  /* Text format BEM*/
  /* Seccion de nuestro trabajo BEM*/
  /* Seccion ayuda BEM*/
  /* Seccion contacto BEM*/
}

* body #not-found-404, html body #not-found-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3cecabad;
  border-radius: 3px;
  margin: 2rem;
  padding: 2rem;
}

* body #not-found-404 .not-found__text, html body #not-found-404 .not-found__text {
  text-align: center;
  margin-bottom: 5rem;
}

* body #not-found-404 .not-found__text h1, html body #not-found-404 .not-found__text h1 {
  color: rgba(184, 134, 69, 0.9);
  font-weight: bold;
}

* body #not-found-404 .not-found__text h3, html body #not-found-404 .not-found__text h3 {
  color: #444;
}

* body #not-found-404 .btn, html body #not-found-404 .btn {
  width: auto;
}

* body #help-section, html body #help-section {
  background-image: url("../img/help-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* body #product-section, html body #product-section {
  background-image: url("../img/products-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* body #work-section, html body #work-section {
  background-image: url("../img/our-work.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* body #shop-section, html body #shop-section {
  background-image: url("../img/shop-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* body .main-section, html body .main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 610px;
}

* body .main-section__card, html body .main-section__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(184, 134, 69, 0.9);
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  width: 30%;
  height: 250px;
}

* body .main-section__card--text, html body .main-section__card--text {
  text-align: center;
  line-height: 3rem;
}

* body .main-section__card--text span, html body .main-section__card--text span {
  font-weight: bold;
  font-size: 20px;
  color: #ccc;
}

* body .main-section__card--text h1, html body .main-section__card--text h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

* body .carousel, html body .carousel {
  height: 606px;
}

* body .carousel1, html body .carousel1 {
  height: auto !important;
}

* body .w-100, html body .w-100 {
  width: auto !important;
  height: auto;
}

* body .w-101, html body .w-101 {
  width: 100% !important;
}

* body .btn, html body .btn {
  width: 30%;
}

* body .publ-section, html body .publ-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(184, 134, 69, 0.9);
  height: 44px;
}

* body .publ-section__align, html body .publ-section__align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* body .publ-section__align--text, html body .publ-section__align--text {
  font-weight: bold;
  color: white;
  letter-spacing: 0.3rem;
  word-spacing: 0.6rem;
}

* body .presentation-section, html body .presentation-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 1020px;
}

* body .presentation-section__title, html body .presentation-section__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

* body .presentation-section__title--text, html body .presentation-section__title--text {
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
}

* body .presentation-section__title--text_Primary, html body .presentation-section__title--text_Primary {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
}

* body .contain, * body .contact_section, * html body .contact_section, html * body .contact_section, html body .contain, html body .contact_section {
  display: flex;
  flex-direction: column;
  min-height: 575px;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

* body .contain__main, * body .help_section__item, * html body .help_section__item, html * body .help_section__item, html body .contain__main, html body .help_section__item {
  background-color: rgba(184, 134, 69, 0.9) !important;
  border-radius: 3px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 40%;
  min-height: 320px;
}

* body .contain__main--text, html body .contain__main--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* body .contain__main--text h2, * body .contain__main--text p, * body .contain__main--text strong, * body .contain__main--text span, * body .contain__main--text form, html body .contain__main--text h2, html body .contain__main--text p, html body .contain__main--text strong, html body .contain__main--text span, html body .contain__main--text form {
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 2rem;
  width: 60%;
}

* body .contain__main #video, * body .help_section__item #video, html body .contain__main #video, html body .help_section__item #video {
  display: flex;
  justify-content: center;
}

* body .contain__main #video video, * body .help_section__item #video video, html body .contain__main #video video, html body .help_section__item #video video {
  width: 97%;
  border-radius: 3px;
  margin: 10px;
}

* body .contain__cards, html body .contain__cards {
  max-width: 700px;
  margin-bottom: 3.5rem !important;
  width: 25rem;
}

* body .contain__cards--img_heigth, html body .contain__cards--img_heigth {
  max-width: 100%;
  height: 176px;
}

* body .contain__products, html body .contain__products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  justify-items: center;
}

* body .contain__products .btn, html body .contain__products .btn {
  width: 43%;
}

* body .content-cards, html body .content-cards {
  display: flex;
  flex-direction: column;
  margin-top: 5rem !important;
}

* body .text, html body .text {
  display: flex;
  flex-direction: column;
}

* body .text__content, html body .text__content {
  margin-left: 10px;
}

* body .text__content--title h3, * body .text__content--title h2, * body .text__content--title h1, html body .text__content--title h3, html body .text__content--title h2, html body .text__content--title h1 {
  color: #ccc;
  font-weight: bold;
  padding: 10px;
}

* body .container-main, html body .container-main {
  display: flex;
  flex-direction: column;
  min-height: 575px;
  width: 100%;
}

* body .bg-MI, html body .bg-MI {
  background-color: rgba(184, 134, 69, 0.9);
}

* body .work-section, html body .work-section {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

* body .work-section__item, html body .work-section__item {
  background-color: rgba(184, 134, 69, 0.9);
  width: 50%;
  border-radius: 3px;
  margin: 1rem;
  padding: 1rem;
}

* body .work-section__item--text h1, * body .work-section__item--text h2, * body .work-section__item--text h3, html body .work-section__item--text h1, html body .work-section__item--text h2, html body .work-section__item--text h3 {
  font-weight: bold;
  color: black;
}

* body .work-section__item--text p, html body .work-section__item--text p {
  color: #ccc;
}

* body .bg-hs, html body .bg-hs {
  background-color: #444;
  border-radius: 3px;
  width: 60%;
}

* body .bg-hsa, html body .bg-hsa {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

* body .bg-hsa p, html body .bg-hsa p {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 0px;
}

* body .help_section, html body .help_section {
  display: flex;
  flex-direction: column;
  min-height: 575px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 1220px;
  margin-top: 1rem;
}

* body .help_section__item, html body .help_section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  min-height: 940px;
}

* body .help_section__item--text, html body .help_section__item--text {
  text-align: center;
}

* body .help_section__item--text h1, html body .help_section__item--text h1 {
  font-weight: bold;
}

* body .help_section__item--text h2, html body .help_section__item--text h2 {
  color: #ccc;
}

* body .contact_section, html body .contact_section {
  margin-top: 5rem;
}

* body .contact_section__item, html body .contact_section__item {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

* body .contact_section__item--bg, html body .contact_section__item--bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(184, 134, 69, 0.9);
  border-radius: 3px;
  width: 55%;
  padding: 3rem;
}

* body .contact_section__item--bg h2, html body .contact_section__item--bg h2 {
  margin-bottom: 2rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

* body .contact_section__item--bg span, html body .contact_section__item--bg span {
  color: #ccc;
  font-weight: bold;
  margin-bottom: 2rem;
}

* body .contact_section__item--bg .shop-iframe, html body .contact_section__item--bg .shop-iframe {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

* body .contact_section__item--bg .shop-iframe iframe, html body .contact_section__item--bg .shop-iframe iframe {
  width: 300px;
  height: 280px;
}

* body .accordion, html body .accordion {
  width: 70%;
  margin: 0 auto;
}

* body .accordion-body, html body .accordion-body {
  color: #888585;
}

* body #content-form, html body #content-form {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

* body form > label, * body h5, html body form > label, html body h5 {
  font-family: Helvetica, bold;
  color: black;
}

* body form input, * body select, html body form input, html body select {
  padding: 3px;
  margin: 5px;
}

/*PEN STYLES*/
/*Colors*/
/*Medidas*/
/*MIXINS*/
/*PEN STYLES*/
.grid-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  margin-top: 8rem;
  background-color: #b88645;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog-card a {
  color: inherit;
}

.blog-card a:hover {
  color: #5ad67d;
}

.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform .2s;
}

.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}

.blog-card .details a {
  text-decoration: dotted underline;
}

.blog-card .details ul li {
  display: inline-block;
}

.blog-card .details .price:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f07a";
}

.blog-card .details .size:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f553";
}

.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}

.blog-card .details .tags li {
  margin-right: 2px;
}

.blog-card .details .tags li:first-child {
  margin-left: -4px;
}

.blog-card .description {
  padding: 4rem;
  background: #b88645;
  position: relative;
  z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card:hover .details {
  left: 0%;
}

/*Colors*/
/*Medidas*/
/*MIXINS*/
/*PEN STYLES*/
html, body {
  overflow-x: hidden;
}

/*# sourceMappingURL=styles.css.map */