@import "../responsive";

/* Estilos footer*/
footer{
    display: flex;
    background-color: rgba(33, 37, 41, 0.9);
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: ($general_height)-102;
    .logoRedes{
        display: flex;
        justify-content: space-evenly;
        width: 25%;
        a {
            img{
                width: 30px;
                height: ($general_height)-170;
            }
            img:hover{
                transition: 300ms all;
                transform: scale(1.2, 1.2);
            }
        }
    }   
}